<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage - IDCard Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container">
    <!-- Content here -->
    <div class="jumbotron">
        <h1 class="display-4" th:text="'BOSG Biometric - ' + ${applicationName}">BOSG Biometric!</h1>
        <p class="lead">A utility application for interacting with the Pensioners Biometric Database!!!</p>
        <hr class="my-4">

        <div class="row">
            <div class="col-sm-3" align="right">
                <p class="lead">Search Options:</p>
            </div>
            <div class="col-sm-6" th:if="${applicationName.equals('Pension')}">
                <a href="/search"> <button type="button" class="btn btn-primary btn-lg">Search By ID?</button> </a>
                <a href="/search/daterange"> <button type="button" class="btn btn-success  btn-lg">Date-Range</button> </a>
                <a href="/download/photos"> <button type="button" class="btn btn-info btn-lg">Download Photos</button> </a>
            </div>

            <div class="col-sm-6" th:if="${applicationName.equals('Salary')}">
                <a href="/salary/search"> <button type="button" class="btn btn-primary  btn-lg">Search By ID?</button> </a>
                <a href="/salary/search/daterange"> <button type="button" class="btn btn-success  btn-lg">Date-Range</button> </a>
                <a href="/salary/download/photos"> <button type="button" class="btn btn-info  btn-lg">Download Photos</button> </a>
            </div>
            <div class="col-sm-3">
            </div>
        </div>
    </div>

</div>

</body>
</html>