<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage - IDCard Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container">
    <!-- Content here -->
    <h3>ID Card Information System - Search by DateRange</h3>
    <div class="row">
        <form action="#" method="post" th:action="@{/search/daterange}" >
            <div th:if="${message!=null}" class="m-alert m-alert--outline alert alert-danger alert-dismissible animated fadeIn" role="alert">
                <p class="error" th:text="${message}">Record Not Found!</p>
            </div>
            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" th:value="${startDate}" required="required" name="startDate" id="startDate" aria-describedby="startDateHelp">
                <small id="startDateHelp" class="form-text text-muted">Record Date.</small>
            </div>
            <div class="form-group">
                <label for="endDate">Start Date:</label>
                <input type="date" class="form-control" th:value="${endDate}" required="required" name="endDate" id="endDate" aria-describedby="endDateHelp">
                <small id="endDateHelp" class="form-text text-muted">Record Date.</small>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
    <div class="split-pane-divider" />

    <div class="row">
        <table class="table" id="result-table">
            <thead>
            <tr>
                <th scope="col">DPNumber</th>
                <th scope="col">Firstname</th>
                <th scope="col">Othername</th>
                <th scope="col">Lastname</th>
                <th scope="col">DOB</th>
                <th scope="col">Ministry</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pensioner: ${pensioners}">
                <td th:text="${pensioner.getNewDPNumber()}">DPNumber</td>
                <td th:text="${pensioner.getFirstname()}">Firstname</td>
                <td th:text="${pensioner.getOthername()}">Othername</td>
                <td th:text="${pensioner.getSurname()}">Lastname</td>
                <td th:text="${pensioner.getDob()}">DOB</td>
                <td th:text="${pensioner.getMinistry()}">Ministry</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<script type="application/javascript">
    $(document).ready(function() {
        $('#result-table').DataTable();
    } );
</script>
</body>
</html>