<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage - IDCard Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container">
    <!-- Content here -->
    <h3>ID Card Information System</h3>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" colspan="2">BioData</th>
                <th scope="col">Photograph</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>DPNumber</td>
                <th scope="row" th:text="${pensioner.getNewDPNumber()}"></th>
                <th scope="row" rowspan="6">
                    <img src="#"
                         th:src="@{'/view-record/photo?DPNumber=' + ${pensioner.getNewDPNumber()} }"
                         width="200" height="200">
                </th>
            </tr>
            <tr>
                <td>Firstname</td>
                <td th:text="${pensioner.getFirstname()}">Mark</td>
            </tr>
            <tr>
                <td>Othername</td>
                <td th:text="${pensioner.getOthername()}">Otto</td>
            </tr>
            <tr>
                <td>Lastname</td>
                <td th:text="${pensioner.getSurname()}">@mdo</td>
            </tr>
            <tr>
                <td>Date og Birth:</td>
                <td th:text="${pensioner.getDob()}">@mdo</td>
            </tr>
            <tr>
                <td>Ministry:</td>
                <td th:text="${pensioner.getMinistry()}">@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>