<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage - IDCard Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container">
    <!-- Content here -->
    <div class="jumbotron">
        <h1 class="display-4" th:text="'BOSG Biometric - ' + ${applicationName}">BOSG Biometric!</h1>
        <div class="row">
            <div class="col-sm-3" align="right">
                <p class="lead">Search Options:</p>
            </div>
            <div class="col-sm-9">
                <a href="/"> <button type="button" class="btn btn-dark btn-lg">Home</button> </a>
                <a href="/salary/search"> <button type="button" class="btn btn-primary  btn-lg">Search By ID?</button> </a>
                <a href="/salary/search/daterange"> <button type="button" class="btn btn-success  btn-lg">Date-Range</button> </a>
                <a href="/salary/download/photos"> <button type="button" class="btn btn-info btn-lg">Download Photos</button> </a>
            </div>
        </div>

        <div class="row">
            <form action="#" method="post" th:action="@{/salary/search}" >
                <div th:if="${message!=null}" class="m-alert m-alert--outline alert alert-danger alert-dismissible animated fadeIn" role="alert">
                    <p class="error" th:text="${message}">Record Not Found!</p>
                </div>
                <div class="form-group">
                    <label for="DPNumber">Unique No</label>
                    <input type="text" class="form-control" th:value="${DPNumber}" required="required" name="DPNumber" id="DPNumber" aria-describedby="DPNumberHelp">
                    <small id="startDateHelp" class="form-text text-muted">Staff Unique No.</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="split-pane-divider" />
        <div class="row" th:if="${staff!=null}">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col" colspan="2">BioData</th>
                    <th scope="col">Photograph</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>DPNumber</td>
                    <th scope="row" th:text="${staff.getNewDPNumber()}"></th>
                    <th scope="row" rowspan="6">
                        <img src="#" alt="Photograph"
                             th:src="@{'/salary/photo?BiodataID=' + ${staff.getBiodataID()} }"
                             width="200" height="200">
                    </th>
                </tr>
                <tr>
                    <td>Firstname</td>
                    <td th:text="${staff.getFirstname()}">Mark</td>
                </tr>
                <tr>
                    <td>Othername</td>
                    <td th:text="${staff.getOthername()}">Otto</td>
                </tr>
                <tr>
                    <td>Lastname</td>
                    <td th:text="${staff.getSurname()}">@mdo</td>
                </tr>
                <tr>
                    <td>Date of Birth:</td>
                    <td th:text="${staff.getDob()}">@mdo</td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td th:text="${staff.getGender()}">@mdo</td>
                </tr>
                <tr>
                    <td>Ministry:</td>
                    <td th:text="${staff.getMinistry()}">@mdo</td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
</div>

</body>
</html>